html, body {
	text-align: center;
	font-family: Geneva;
  /*font-family: "Lucida Sans Unicode";*/
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.theme-color {
	color: #003399;
}

#bootstrap-overrides nav {
	width: 100%;
	z-index: 50;
	position: fixed;
	border-radius: 0;
	border: 0px;
}

#bootstrap-overrides nav * {
	background-color: black;
}

#bootstrap-overrides nav a {
	color: white;
	text-decoration: none;
}

#bootstrap-overrides #nav-links {
	border: 0px;
}

#bootstrap-overrides #nav-links a:hover {
	background-color: gray;
}

#bootstrap-overrides .navbar-brand {
	text-padding: bold;
	color: #4d94ff;
}

#bootstrap-overrides button.navbar-toggle {
	border: none;
}

#bootstrap-overrides button.navbar-toggle:hover {
	background-color: gray;
}

#bootstrap-overrides button.navbar-toggle:active {
	background-color: gray;
}

#bootstrap-overrides .icon-bar {
	background-color: white;
}

.section {
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
}

.color1 {
	background-color: white;
	color: black;
}

.color2 {
	background-color: #4d94ff;
	color: white;
}

#profile-pic {
	float: none;
	border-radius: 50%;
	margin: 0 auto;
	width: 350px;
	height: 350px;
}

div.section p, div.section ul.section-ul {
	font-size: 1.4em; 
}

ul.section-ul {
	list-style: none;
	padding-left: 0;
}

div.section p.footnote {
	font-size: 1em; 
}

/* General links in body */
a, a:hover {
	color: inherit;
	text-decoration: underline;
}

#logobar a {
	text-decoration: none;
}

.logo {
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
