body {
	font-family: sans-serif;
  font-family: "Lucida Sans Unicode";
	padding-top: 50px;
	text-align: center;
}

.theme-color {
	color: #003399;
}

.navbar-default {
	background-color: blue;
}

.container-fluid {
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
}

.container-full {
	margin: 0 auto;
	width: 100%;
}

.color1 {
	background-color: white;
	color: black;
}

.color2 {
	background-color: #4d94ff;
	color: white;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

#profile-pic {
	width: 350px;
	height: 350px;
}

ul#about-list {
	list-style: none;
	padding-left: 0;
}

a, a:hover {
	color: inherit;
	text-decoration: underline;
}

nav a {
	text-decoration: none;
}

#logobar a {
	text-decoration: none;
}

.logo {
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#copyright {
	color: inherit;
	padding-right: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
}
	
