{% comment %} _includes/footer.html {% endcomment %}

<footer class="confined-width container">
  <p class="logobar">
    <a target="_blank" href="https://www.linkedin.com/in/oliver-newman-a74a02ba">
      <img class="logo" src="{{ base }}/images/linkedin.png" alt="LinkedIn">
    </a>
    <a target="_blank" href="https://github.com/oliver-newman">
      <img class="logo" src="{{ base }}/images/github.png" alt="GitHub">
    </a>
    <a target="_blank" href="https://www.strava.com/athletes/5882007">
      <img class="logo" src="{{ base }}/images/strava.png" alt="Strava">
    </a>
  </p>
  <p class="email">
    <a href="mailto:onewman1@swarthmore.edu">onewman1@swarthmore.edu</a>
  </p>
</footer>
