{% comment %} _includes/footer.html {% endcomment %}

<footer>
  <div class="container section-container">
    <p>onewman1@swarthmore.edu • oliver@whmsi.com</p>
    <div id="logobar">
      <p>
        <a target="_blank" href="https://www.linkedin.com/in/oliver-newman-a74a02ba">
          <img class="logo" src="{{ base }}/images/linkedin.png" alt="LinkedIn">
        </a>
        <a target="_blank" href="https://github.com/oliver-newman">
          <img class="logo" src="{{ base }}/images/github.png" alt="GitHub">
        </a>
        <a target="_blank" href="https://en.wikipedia.org/wiki/User:Orn688">
          <img class="logo" src="{{ base }}/images/wikipedia.png" alt="Wikipedia">
        </a>
        <a target="_blank" href="https://www.strava.com/athletes/5882007">
          <img class="logo" src="{{ base }}/images/strava.png" alt="Strava">
        </a>
      </p>
    </div>
    <p id="copyright">
      &copy;2016 Oliver Newman
    </p>
  </div>
</footer>
