{% comment %} _includes/navbar.html {% endcomment %}

<nav id="navigation" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="brand" class="navbar-brand" href="{{ base }}/">Oliver Newman</a>
    </div>
    <div class="collapse navbar-collapse" id="nav-links">
      <ul class="nav navbar-nav">
        <li><a href="{{ base }}/experience/" {% if page.title == 'Experience' %} class="active"{% endif %}>Experience</a><div class="hoverbar"></p></li>
        <li>
          <a href="{{ base }}/portfolio/" {% if page.title == 'Portfolio' %} class="active"{% endif %}>Portfolio</a>
          <div class="hoverbar"></div>
        </li>
        <li>
          <a href="{{ base }}/education/" {% if page.title == 'Education' %} class="active"{% endif %}>Education</a>
          <div class="hoverbar"></div>
        </li>
        <li>
          <a href="{{ base }}/other/" {% if page.title == 'Other' %} class="active"{% endif %}>Other</a>
          <div class="hoverbar"></div>
        </li>
        <li>
          <a href="{{ base }}/contact/" {% if page.title == 'Contact' %} class="active"{% endif %}>Contact</a>
          <div class="hoverbar"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
