$dark-blue: #003399;
$light-blue: #4d94ff;

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 5rem;
}

.container {
  max-width: 800px;
}

#navigation {
  margin: 0px;
  border-radius: 0px;
  border: none;
  border-bottom: solid 1px $dark-blue;
  background-color: white;
  #navbar-header {
    a.navbar-brand {
      color: white;
    }
  }
  button.navbar-toggle {
    .icon-bar {
      background-color: white;
    }
  }
}

.section-container {
  h1, h2, h3, h4, h5, h6 {
    color: $dark-blue;
  }
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  background-color: $light-blue;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    font-size: 1.5em;
  }
}

#content {
  a, a:hover {
    text-decoration: underline;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $light-blue;
  color: white;
  text-align: center;
  #logobar a {
    text-decoration: none;
  }
  .logo {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
