$dark-blue: #003399;
$light-blue: #4d94ff;
$navbar-color: white;
$navbar-text-color: $dark-blue;
$blue-contrast-color: white;

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 15rem;
}

.container {
  max-width: 800px;
}

#navigation {
  margin: 0px;
  border-radius: 0px;
  border: none;
  border-bottom: solid 1px $dark-blue;
  background-color: $navbar-color;
  #navbar-header {
    a#brand {
      color: $navbar-text-color;
    }
    button.navbar-toggle {
      background-color: inherit;
      border: none;
      &:hover {
        background-color: $light-blue;
      }
      .icon-bar {
        background-color: $dark-blue;
      }
    }
  }
  #nav-links {
    a {
      color: $navbar-text-color;
      &:hover {
        color: $light-blue;
      }
    }
  }
}

.section-container {
  h1, h2, h3, h4, h5, h6 {
    color: $dark-blue;
  }
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  background-color: $light-blue;
  color: $blue-contrast-color;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    font-size: 1.4em;
  }
}

#content {
  a, a:hover {
    text-decoration: underline;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $light-blue;
  color: $blue-contrast-color;
  text-align: center;
  #logobar a {
    text-decoration: none;
  }
  .logo {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
