.post-list {
  list-style: none;
  padding: 0;

  .post-preview,
  .post-preview:hover {
    text-decoration: none;

    .post-preview-date {
      font-style: italic;
    }
  }
}

.post {
  .post-title {
    color: $dark-blue;
    padding-bottom: 15px;
  }

  .post-content {
    font-size: 108%;
  }
}
