.posts {
  padding: 0;
  list-style: none;
  
  .post {
    .post-title {
      text-decoration: none;
    }
  }
}

.image-container {
  max-width: 100%;

  figure {
    padding-bottom: 10px;
    img {
      width: 100%;
    }

    figcaption {
      padding-top: 5px;
      text-align: center;
      font-size: 0.9em;
      font-weight: bold;
    }
  }
}
