$iframe-width: 800px;
$iframe-scale: 0.5;

.project-title {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      &:after {
        transition: opacity .2s;
        margin-left: .5em;
        font-size: .9em;
        content: "\232A";
      }
    }
  }
}

.screenshot {
  width: 100%;
  margin-bottom: 10px;
}
