$iframe-width: 800px;
$iframe-scale: 0.5;

.project-title {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      &:after {
        transition: opacity .2s;
        margin-left: .5em;
        font-size: .9em;
        content: "\232A";
      }
    }
  }
}

.wrap { 
  width: 600px;
  height: 280px;
  padding: 0;
  overflow: hidden; 
}

iframe { 
  width: 800px; 
  height: 520px; 
  border: 1px solid #bbb; 
}

iframe {
  -ms-zoom: $iframe-scale;
  -moz-transform: scale($iframe-scale);
  -moz-transform-origin: 0 0;
  -o-transform: scale($iframe-scale);
  -o-transform-origin: 0 0;
  -webkit-transform: scale($iframe-scale);
  -webkit-transform-origin: 0 0;
}
